[user]
    name = Callum Oakley
    email = hello@callumoakley.net

[push]
    default = current

[alias]
    graph = log --graph --oneline

[http]
    cookiefile = /Users/callum/.gitcookies

[merge]
    conflictstyle = diff3

[hub]
    protocol = https

[pull]
    ff = only

[init]
    defaultBranch = main
