[user]
    name = Callum Oakley
    email = hello@callumoakley.net

[push]
    default = current

[alias]
    graph = log --graph --decorate --oneline -10
    hash = rev-parse HEAD
    ignore = "!f() { curl -L -s https://www.gitignore.io/api/$@; }; f"
    lcm = "!f() { echo $(git log -1 | tail -1); }; f"
    publish = "!f() { git commit -m $@ && git tag $@ && git push && git push --tags; }; f"
    root = rev-parse --show-toplevel

[core]
    pager = less -x1,5

[http]
    cookiefile = /Users/callum/.gitcookies

[merge]
    conflictstyle = diff3

; [commit]
;     gpgsign = true

; [url "git@github.com:"]
;     insteadOf = https://github.com/

[hub]
    protocol = https
[diff]
	submodule = log
