/* limit the max width of wikipedia */
#mw-page-base {
  display: none !important;
}
.mw-body {
  max-width: 50rem !important;
  border: none !important;
  margin: auto !important;
}
#mw-navigation {
  display: none !important;
}
.mw-footer {
  display: none !important;
}

/* hide ads in google results */
#taw {
  display: none !important;
}

/* hide ads on reddit */
.promotedlink {
  display: none !important;
}
