html {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 200pt;
  font-kerning: normal;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: #eee;
  font-weight: 700;
}
